@font-face {
    font-family: "AsapCondensed-Regular";
    src: url('../fonts/AsapCondensed-Regular.ttf') format('truetype');
}

.card {
    width: 20rem;
    font-family: 'AsapCondensed-Regular';
    margin: 32px;
}

.div1-body {
    background: #6e6e6e;
    display: flex;
    padding: 0px 15px 0px 12px;
    color: white;
}

.vid {
    opacity: 0.5;
}

.div1-body>.playbar {
    flex: 5;
    height: 4px;
    border-radius: 100px;
    background: white;
    margin: 20px 10px;
}

.played-vid {
    width: 60%;
    background: #8cdaea;
    height: 100%;
    border-radius: 1000px;
}

.replay {
    height: 50px;
    padding-right: 13px;
    border-right: 1px solid #666666;
    padding-top: 13px;
}

.volume {
    height: 50px;
    padding-left: 16px;
    border-left: 1px solid #666666;
    padding-top: 13px;
}

.div2 {
    width: 4rem;
    border-radius: 0px;
    margin-top: 36px;
}

.div2-icon {
    padding: 11px 2px;
}

.list-group-item {
    height: 4rem;
}

.list-group li:hover {
    background-color: #8cdaea;
    color: white;
    cursor: pointer;
}

.div3-icon {
    padding-right: 15px;
}

.div3 {
    padding-top: 20px;
}

.list-group {
    font-family: 'AsapCondensed-Regular';
}


/* div 6 */

input:focus {
    outline: none !important;
}

.submit {
    width: 100%;
    margin: 5px 0px 9px 0px;
    background: #84d3e3;
    border-color: #84d3e3;
    padding: 12px;
}

.underline {
    padding-left: 25%;
    color: #d7d3cf;
    font-size: 14px;
}

.footer {
    background: #666666;
    height: 50px;
    text-align: center;
    color: white;
    align-items: center;
    padding-top: 12px;
    opacity: 0.9;
    border: 1px solid #666666;
}

.div6-input1 {
    margin-bottom: 1.5rem!important;
    border: 1px solid #6c6c6c;
    border-radius: 3px;
    margin-top: 7px;
}

.fa-user {
    color: #969089;
    border-right: 1px solid #969089;
    padding: 2px 27px 0px 6px;
}

.div6-input2 {
    margin-bottom: 1.5rem!important;
    border: 1px solid #d7d3cf;
    border-radius: 3px;
}

.input-group-text {
    border: none;
    background: white;
}

.div6 {
    padding: 20px 0px 20px 0px;
}

.form-control {
    border: 0;
}

.mark {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* border: 2px solid #FFF; */
    width: 23px;
    height: 23px;
    background-color: #ff5d79;
    position: absolute;
    top: 23px;
    left: 94px;
    font-size: 11px;
    padding-left: 4px;
    line-height: 18px;
    font-family: 'AsapCondensed-Regular';
    font-weight: 400;
    color: #FFF;
}

.fa-link,
u {
    color: #c8c7c4;
    /* font-family: 'AsapCondensed-Regular'; */
}

.product-designer {
    color: #a19e9c;
    font-family: 'AsapCondensed-Regular';
    margin-bottom: 6px;
}

.div2 {
    width: 4rem;
}

.contact-image {
    border-radius: 100px;
    margin: 25px 20px 20px 24px;
    width: 100px;
    height: 100px;
}

.link {
    font-size: 14px;
}

.div4-contact-name {
    font-family: 'AsapCondensed-Regular';
    margin-bottom: 2px;
}

.div4-contact-details {
    margin: 35px 20px 20px 20px;
}

.div4-body {
    padding: 0px;
    background: #6e6e6e;
}

.div4-contact {
    display: flex;
    margin-bottom: 8px;
}

.fa-clock,
.fa-heart,
.fa-music {
    color: white
}

.list-group-item {
    color: #6e6e6e;
}

.clock,
.heart,
.music {
    border-left: 1px solid #666666;
    opacity: 0.9;
    padding: 5px;
    padding: 15px 0px 15px 57px !important;
}

.fa-lock {
    color: #d7d3cf;
}

.div2>.list-group-item {
    /* padding: 19px 11px 19px 20px; */
}

.clock:hover,
.heart:hover,
.music:hover {
    background: #84d3e3;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: pink;
}

 ::-moz-placeholder {
    /* Firefox 19+ */
    color: pink;
}

 :-ms-input-placeholder {
    /* IE 10+ */
    color: pink;
}

 :-moz-placeholder {
    /* Firefox 18- */
    color: pink;
}